server:
  port: 8085

spring:
  main:
    banner-mode: off

  datasource:
    initialization-mode: never
    url: ###
    username: ###
    password: ###

  jpa:
    generate-ddl: false

    hibernate:
      ddl-auto: none

    open-in-view: false

  liquibase:
    change-log: classpath:/db/changelog-master.json

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  mail:
    host: smtp.yandex.com
    port: 465
    username: ###
    password: ###
    default-encoding: UTF-8
    protocol: smtps

logging:
  file:
    name: /data/uploads/logs/backend.log

cron:
  check-devices: '0 0/5 * * * *'
  page-count: '0 0 0/3 * * *'

tlg:
  token: ###
  user-name: ###
  chat-id: ###